<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <h3 style="color: white" >Student Attendence Management System <span class="sr-only">(current)</span></h3>
        </li>
        
      </ul>
      <span class="navbar-text">
        Logout
      </span>
    </div>
  </nav> -->

  <app-faculty-reg-form></app-faculty-reg-form>

<!-- 
<div class="container">
<app-student-details></app-student-details>
</div>  -->

<router-outlet></router-outlet>
