<div class="page-wrapper bg-gra-02 p-t-100 p-b-90 font-poppins">
  <div class="wrapper wrapper--w680">
      <div class="card card-4">
          <div class="card-body">
              <h2 class="title">Registration Form</h2>
              <form method="POST">
                  <div class="row row-space">
                      <div class="col-12">
                          <div class="input-group">
                              <label class="label">Name</label>
                              <input class="input--style-4" type="text" name="first_name">
                          </div>
                      </div>
                      
                  </div>
                  <div class="row row-space">
                      <div class="col-5">
                          <div class="input-group">
                              <label class="label">Phone Number</label>
                              <div class="input-group-icon">
                                  <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                  <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-5">
                        <div class="input-group">
                            <label class="label">Qualification</label>
                            <div class="input-group-icon">
                                <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                        </div>
                    </div>
                      
                  </div>

                  <div class="row row-space">
                    <div class="col-5">
                        <div class="input-group">
                            <label class="label">Username</label>
                            <div class="input-group-icon">
                                <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                      <div class="input-group">
                          <label class="label">Password</label>
                          <div class="input-group-icon">
                              <input class="input--style-4 js-datepicker" type="text" name="birthday">
                              <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                          </div>
                      </div>
                  </div>
                    
                </div>
                 
                  
                  <div class="p-t-15">
                      <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>